body {
    background-color: #333;
    color: aliceblue;
}

.text {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 10px;
    word-spacing: 30px;
    /* line-height: 50px; */
    line-height: 3;
}

.word-container {
    background-color: lightcoral;
    height: 100px;
    text-align: center;
}

.word {
    line-height: 100px;
    writing-mode: vertical-lr;
}

.text2 {
    font-size: 20px;
    font-family: monospace;
    word-break: break-all;
    width: 10px;
}