* {
    box-sizing: border-box;
}

body {
    margin: 0%;
}

a:hover {
    /* color: yellow; */
}

a:active {
    background-color: green;
    color: blue;
}

a:visited {
    /* color: red; */
}

p::first-letter {
    color: red;
    font-weight: bolder;
}