@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body{
    box-sizing: border-box;
    width: 30%;
    min-width: 350px;
    transition: 0.75s;
}
body.matias{
    margin: 0%;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #333;
}
body.matias h2{
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 3px;
}
body.matias .my-section a{
    color: #fff;
}
h1{
    transition: 0.5s;
}
body.matias h1{
    transform: translateY(-200px);
    opacity: 0;
}
.fernando{
    transition: 0.5s;
}
body.matias .fernando{
    transform: translateY(200px);
    opacity: 0;
}
