*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color: hsl(0, 0%, 93%);
}
header{
    text-align: center;
}
h1, h2, h3, p{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight: lighter;
}
h2, h3{
    font-weight: blood;
}
p{
    font-weight: normal;
    color: hsl(229, 6%, 66%);
}
.container{
    display: flex;
    align-items: center;
    width: 350px;
    height: 250px;
    background-color: hsl(0, 0%, 93%);
    border-radius: 15px;
}
.red{
    box-shadow: 5px 5px 10px rgb(96 96 159 / 0.2), 0px -5px 0px hsl(0, 78%, 62%);
}
.cyan{
    box-shadow: 5px 5px 10px rgb(96 96 159 / 0.2), 0px -5px 0px hsl(180, 62%, 55%);
}
.orange{
    box-shadow: 5px 5px 10px rgb(96 96 159 / 0.2), 0px -5px 0px hsl(34, 97%, 64%);
}
.blue{
    box-shadow: 5px 5px 10px rgb(96 96 159 / 0.2), 0px -5px 0px hsl(212, 86%, 64%);
}
.write-zone{
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    /* border: brown 2px solid; */
}
.write-zone img{
    display: block;
    position: absolute;
    bottom: 0%;
    right: 0%;
}
table{
    margin: auto;
}
td{
    padding: 40px;
    /* border: black 2px solid; */
}