*{
    box-sizing: border-box;
}
.container{
    height: 200px;
    width: 200px;
    background-color: burlywood;
    border: rgb(33 33 33 / 0.25) solid 5px;
    border-top: red solid 20px;
}
.box{
    height: 100px;
    width: 100px;
}
.rojo{
    background-color: red;
    position: fixed;
    right: 0%;
    top: 0%;
}
.azul{
    background-color: blue;
    position: relative;
    top: 200px;
    left: 300px;
}
.verde{
    background-color: green;
    position: absolute;
    right: 20px;
    top: 20px;
}
.amarillo{
    background-color: yellow;
}