body{
    margin: 0%;
    background-color: #333;
    color: #fff;
}
header{
    background-color: lightsteelblue;
    text-align: center;
}
.container{
    width: 300px;
    height: 300px;
    background-color: lightgreen;
}
.box{
    top: 0%;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: lightseagreen;
}