* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: #fff;
}

a {
    margin: 0px 10px;
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 4em;
}

h2,
h3,
p,
a,
span {
    font-family: sans-serif;
}


/* HEADER */

header {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/jpg/header.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: 50% 75%;
    color: #fff;
}

header>h1,
header>h2 {
    margin-left: 5vw;
}

header>h1 {
    position: absolute;
    top: 10px
}

header>h2 {
    position: absolute;
    bottom: 70px;
    line-height: 2em;
}

header>nav {
    position: absolute;
    right: 25px;
    top: 25px;
}


/* MAIN */

main {
    text-align: center;
}

main>section:first-child {
    padding-top: 2em;
}

main h2 {
    margin-bottom: 2em;
}


/* MAIN -> Sección 1 */

.caja-con-icono {
    display: inline-block;
    width: 310px;
    height: 220px;
    text-align: center;
    /* border: red solid 5px; */
}


/* MAIN -> Sección 2 */

.section-sale {
    margin-bottom: 150px;
}

.caja-venta {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 504px;
    text-align: left;
    border: rgb(120 120 120 / 0.5) solid 1px;
    margin-left: 1em;
}

.container-img {
    width: 100%;
    height: 232px;
    overflow: hidden;
}

.container-img>img {
    width: 100%;
}

.text-zone {
    margin: auto;
    width: 90%;
}

.precio {
    color: rgb(113, 177, 31);
    font-weight: bolder
}

.box-iconos {
    text-align: center;
    word-spacing: 0.5em;
}

.boton-ventas {
    width: 275px;
    height: 40px;
    margin: auto;
    text-align: center;
    background-color: rgb(223, 135, 23);
    color: #fff;
}

.boton-ventas p {
    padding-top: 10px;
}

.ver-todas {
    width: 142px;
    height: 50px;
    position: absolute;
    right: 0px;
    bottom: -100px;
    text-align: center;
    background-color: rgb(113, 177, 31);
    color: #fff;
}


/* FOOTER */

footer {
    position: absolute;
    display: block;
    height: 300px;
    width: 100%;
    color: #fff;
}

.img-footer {
    height: 100%;
    background-image: url(../assets/jpg/Footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.texto-footer {
    margin-left: 100px;
    padding-top: 50px;
}

.texto-footer>h2,
.texto-footer>p {
    margin-bottom: 2em;
}

.boton-footer {
    width: 170px;
    height: 50px;
    display: block;
    text-align: center;
    background-color: rgb(223, 135, 23);
}

.boton-footer a {
    display: block;
    position: relative;
    bottom: -14px;
}

.footer-pie {
    width: 100%;
    height: 60px;
    position: sticky;
    background-color: #333;
}

footer nav {
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
}

footer .desing {
    position: absolute;
    bottom: 20px;
    right: 50px;
    margin: 0%;
}