table{
    padding: 35px 25px 25px;
    background-color: hsl(34, 57%, 85%);
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.5);
    margin: 0px auto 36px;
}
#buttons{
    text-align: center;
}
main{
    margin: auto;
    width: 600px;
}
main p{
    margin-bottom: 36px;
}
main td{
    width: 100px;
}