header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    z-index: 10000;
    transition: 0.5s;
}

header .hamburguesa {
    display: none;
    border: none;
    z-index: 10000;
}

header .logo {
    width: max-content;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 1.35em;
    line-height: 55px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

header .navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: hsl(0, 0%, 60%);
    /* letter-spacing: 1px; */
    font-weight: 600;
    transition: 0.5s;
}

header .navbar a:hover {
    color: #fff;
}

header .navbar a:last-child {
    color: greenyellow;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navbar a:last-child:hover {
    text-shadow: 0 0 10px lime, 0 0 40px lime, 0 0 80px lime;
}

header .navbar a .fas {
    margin-right: 10px;
    font-size: 1.3em;
}

/* VERSIONES STICKY */

header.sticky {
    padding: 5px 30px;
    background: #fff;
}

header.sticky .logo {
    color: #000;
}

header.sticky .navbar a {
    color: hsl(0, 0%, 40%);
}

header.sticky .navbar a:hover {
    color: #000;
}

header.sticky .navbar a:last-child {
    color: hsl(120, 100%, 30%)
}

header.sticky .navbar a:last-child:hover {
    text-shadow: 0 0 10px lime, 0 0 40px lime, 0 0 80px lime;
}

@media (max-width: 1200px) {
    header .hamburguesa {
        position: fixed;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background: #37a6ff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
    }
    /* linea superior */
    header .hamburguesa::before {
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background: #fff;
        transition: 0.2s;
        transform: translateY(-10px);
        /* linea central */
        box-shadow: 0 10px 0 #fff;
    }
    /* linea inferior */
    header .hamburguesa::after {
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background: #fff;
        transition: 0.2s;
        transform: translateY(10px);
    }
    header .hamburguesa.active {
        background: #f7226a;
    }
    header .hamburguesa.active::before {
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 0 #fff;
    }
    header .hamburguesa.active::after {
        transform: translateY(0px) rotate(-45deg);
    }
    header {
        /* width: 60px; */
        width: 60px;
        height: 100vh;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        background: #333;
        /* transition: 0.5s; */
    }
    header:hover, header.active {
        width: 300px
    }
    header .navbar a {
        display: inline-block;
        width: 300px;
        margin: 0;
    }
    header .navbar a .fas {
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }
    header .logo {
        display: inline-block;
        height: 60px;
        width: 300px;
        margin: 0;
        line-height: 60px;
        font-size: 1.5em;
    }
    header .navbar a:hover {
        background: #444;
    }
}

@media (max-width: 600px) {
    body {
        background: blue;
    }
}