*{
    box-sizing: border-box;
}
html{
    min-height: 100%;
    position: relative;
}
body{
    margin: 0%;
    margin-bottom: 200px;
}
h2{
    text-align: center;
    margin-bottom: 25px;
}
footer, header{
    text-align: center;
    color: lightyellow;
    background-color: hsl(352, 84%, 36%);
    font-family: sans-serif;
}
header{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
header nav{
    margin-top: 8px;
    margin-bottom: 35px;
}
header a{
    color: lightyellow;
    padding: 10px 15px;
    margin: 16px 10px;
    text-decoration: none;
    border-radius: 15px;
    background-color:  hsl(352, 84%, 31%);
    box-shadow: 4px 4px 1px hsl(352, 84%, 16%);
    transition: background-color .5s;
}
header a:hover{
    background-color: hsl(352, 84%, 46%);
    box-shadow: 2px 2px 1px hsl(352, 84%, 16%);
}
header h1{
    word-spacing: 10px;
}
footer{
    position:absolute;
    bottom: 0%;
    width: 100%;
    height: 150px;
}
.fab{
    margin-top: 20px;
}
footer nav a{
    margin: 20px;
    color: lightyellow;
    text-decoration: none;
}
footer p{
    margin: 8px;
}
#fontawesome a{
   color: lightyellow;
}