section{
    margin-left: auto;
    margin-right: auto;
}
#calabaza{
    display: block;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.8);
    margin-bottom: 40px;
}
section{
    width: 40vw;
}
table{
    border: 3px solid rgb(150, 150, 150);
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.5);
    text-align: center;
}
td{
    width: 150px;
}
.td-title{
    font-weight: bolder;
    border-bottom: 1px solid rgb(200, 200, 200);
}
ul{
    margin-bottom: 30px;
}