* {
  outline: red solid 1px;
  box-sizing:border-box;
}
header, footer{background: #aaa}
main{background: #eee}
aside{background: #ccc}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0%;
  text-align: center;
}

header, footer, main, aside  
{
  flex-basis: 100%;
  padding: 1em;
}

/* Tamaño tablet */
@media all and (min-width: 600px) {
  aside {
    flex: 1 1 auto;
  }
}

/* Tamaño PC */
@media all and (min-width: 800px) {
  main {flex: 4 0}
  .izquierda {order: 1}
  main {order: 2}
  .derecha {order: 3}
  footer {order: 4}
}