*{
    box-sizing: border-box;
}
.back{
    height: 30px;
    width: 80px;
    margin: 10px 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.5);
    background-color: #f5f8fa;
}
body{
    margin: 0%;
    background-color: #111;
    font-family: sans-serif;
}
.wallpaper-container{
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1000;
}
.aux{
    width: 200vw;
    height: 200vh;
    transform: translate(-50vw, -50vh);
}
.wallpaper{
    display: block;
    margin: auto;
}
.link{
    display: inline-block;
    height: 30px;
    width: 80px;
    margin-top: 7px;
    text-align: center;
    text-decoration: none;
}
.container{
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.top{
    height: 100px;
    width: 300px;
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color:lightskyblue;
    overflow: hidden;
}
.img-portada{
    position: relative;
    width: 100%;
    bottom: 80px;
}
.mid{
    height: 150px;
    width: 300px;
    border: #f5f8fa 2px solid;
    border-bottom-color: #aab8c2;
    background-color: #f5f8fa;
    text-align: center;
}
.img-perfil{
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 50px;
    border-radius: 100%;
    border: #f5f8fa 5px solid;
}
.text-mid{
    position: relative;
    bottom: 50px;
}
.data1{
    font-weight: 700;
}
.data2{
    color:#657786;
}
.bot{
    height: 100px;
    width: 300px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f5f8fa;
}
table{
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
}
td{
    display: inline-block;
    width: 90px;
}
.value{
    font-weight: 600;
    font-size: larger;
}
.name-value{
    color: #657786;
}