*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color: #333;
}
.contenedor{
    background-color: #777;
    height: 200px;
    width: 200px;
    position: relative;
}
.box{
    width: 100px;
    height: 100px;
    text-align: center;
}
.box1{
    background-color: lightsalmon;
    position: relative;
    left: 180px;
    z-index: -10;
}
.box1-2{
    background-color: lightyellow;
    position: relative;
    left: 170px;
    top: -25px;
    z-index: -10;
}
.box2{
    background-color: lightgreen;
    position: relative;
    top: 50px;
    z-index: 20;
}
.box3{
    background-color: lightseagreen;
    position: relative;
    z-index: 10;
}