<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* *{outline: 1px solid red;} */
        a {
            margin: 20px;
        }
    </style>
    <title>VUE</title>
</head>

<body>
    <header>
        <nav id="nav-vue">
            <a href="#" v-for="link in links">
                {{link.donde}}
            </a>
        </nav>
    </header>

    <main>
        <ul id="ejemplo">
            <li v-for="fruta in frutas">
                {{ fruta.nombre }} - {{ fruta.cantidad }}
                <span v-if="fruta.cantidad===0"> - Sin Stock</span>
                <span v-else-if="fruta.cantidad<5"> - Stock Bajo</span>
                <span v-else> - Stock Alto</span>
            </li>
        </ul>

        <div id="mensaje">
            <p>
                {{mensaje}} <br>
                {{nombre}} <br>
                {{agregado}}
            </p>
        </div>

        <div id="imagen">
            <img :src="imagen" :alt="mensaje">
        </div>

        <div id="input-text">
            <p>{{ message }}</p>
            <p><input v-model="message"></p>
        </div>

        <div id="boton-1">
            <button v-on:click="counter += 1">Add 1</button>
            <p>Se ha hecho clic en el botón de arriba {{ counter }} veces.</p>
        </div>


    </main>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./clase-10-12.js"></script>
</body>

</html>