footer {
    display:none;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(90deg, #1d3743, #1e5371);
}
footer nav{
    display: flex;
    height: 100%;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
footer nav a {
    margin: 10px 15px;
    color: #fff;
    text-decoration: none;
}
footer nav a:hover{
    text-shadow: 0 0 10px white;
}

@media (max-width: 600px) {
    footer {
        height: 400px;
    }
    footer nav{
        flex-direction: column;
        flex-wrap: nowrap;
    }
}