/* 
    ANOTACIÓN PERSONAL: 
    El orden de las letras es un desastre. Tendría que haberlo pensado mejor antes de ponerme a cordear. 
        El orden de las letras es: 
            C O D O A 
             C O D O
        Esto responde a:
            sc1 p1 p1c p2 p2c
            sc2 p1b p1d p2b
        sc -> semi-circulo
        p -> pelota
    Fuera de eso, los before fueron usados para crear los palitos de ciertas letras mientras que los after fueron usados para hacer sus "agujeros" (que en realidad son circulos amarillos)

    RECORDATORIO: 
    No incluir IDs en animaciones, complican las cosas al codear (por la especificidad)
*/

.loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #fff;
    transition: 0.75s;
    /* transform: scale(50%); */
}

.flash {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: transparent;
    z-index: 1000;
}

.loader .semi-circulo {
    position: absolute;
    width: 200px;
    height: 200px;
    border-bottom: 100px solid #222;
    border-radius: 50%;
}

.loader .semi-circulo1 {
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    animation: girar 2s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader .pelota {
    position: absolute;
    background: #222;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 200;
}

.loader .pelota1 {
    top: calc(50% - 50px);
    left: calc(50% - 100px);
    animation: rebotar1 2s linear infinite;
}

@keyframes rebotar1 {
    /* cada 10% recorre 50px */
    /* 10% equivale a 0.2s */
    /* la pelotita recorre 50px cada 0.2s */
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(-60px);
    }
    50% {
        transform: translateY(-250px);
    }
    100% {
        transform: translateY(0px);
    }
}

.loader .pelota2 {
    top: calc(50%);
    left: calc(50% + 50px);
    animation: rebotar2 2s linear infinite;
}

@keyframes rebotar2 {
    /* cada 10% recorre 50px */
    /* 10% equivale a 0.2s */
    /* la pelotita recorre 50px cada 0.2s */
    0% {
        transform: translateY(250px);
    }
    50% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(250px);
    }
}

/* SECCIÓN CARGA-TERMINADA */

.loader.carga-terminada .flash {
    background: transparent;
    animation: flash 0.5s linear 1;
}

@keyframes flash {
    /* Esta animación permite ordenar rápidamente los elementos para formar la sonrisa sin que sea del todo visible para el usuario */
    0% {
        background: #fff;
    }
    100% {
        background: transparent;
    }
}

.loader.carga-terminada .semi-circulo1 {
    animation: none;
    transform: rotate(0deg);
    transition: 0.75s;
}

.loader.carga-terminada .pelota {
    animation: none;
    transition: 0.75s;
}

.loader.carga-terminada .pelota1 {
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.loader.carga-terminada .pelota2 {
    top: calc(50% - 100px);
    left: calc(50% + 50px);
}

/* SECCIÓN CODO-A-CODO */

/* DECLARACIÓN */

.loader .pelota::after {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    background: transparent;
    transition: 0.75s;
}

.loader .semi-circulo::after {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    background: transparent;
    transition: 0.75s;
}

.loader.codo-a-codo .semi-circulo::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 40px;
    right: 0%;
    top: 37%;
    background: transparent;
    transition: 0.75s;
}

.loader::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    background: hsl(51, 97%, 51%);
    transition: 0.75s;
}

/* TRANSICION */

.loader.codo-a-codo::before {
    content: '';
    position: absolute;
    height: 400px;
    width: 700px;
    top: calc(30% - 100px);
    left: calc(50% - 350px);
    transform: skew(-20deg);
    background: hsl(51, 97%, 51%);
}

.loader.codo-a-codo .semi-circulo {
    width: 100px;
    height: 100px;
    border-bottom: none;
    background: #222;
}

.loader.codo-a-codo .semi-circulo::before {
    /* content: '';
    position: absolute;
    height: 25px;
    width: 40px;
    right: 0%;
    top: 37%; */
    z-index: 1000;
    background: hsl(51, 97%, 51%);
}

.loader.codo-a-codo .semi-circulo::after {
    /* content: '';
    position: absolute; */
    height: 50px;
    width: 50px;
    /* top: 25%;
    left: 25%; */
    z-index: 1000;
    /* border-radius: 50%; */
    background: hsl(51, 97%, 51%);
}

.loader.codo-a-codo .semi-circulo1 {
    left: calc(50% - 250px);
    top: calc(50% - 140px);
    transform: rotate(0deg)
}

.loader.codo-a-codo .semi-circulo2 {
    left: -65px;
    top: 167px;
}

.loader.codo-a-codo .pelota {
    height: 100px;
    width: 100px;
}

.loader.codo-a-codo .pelota::after {
    /* content: '';
    position: absolute; */
    height: 50px;
    width: 50px;
    /* top: 25%;
    left: 25%;
    border-radius: 50%; */
    background: hsl(51, 97%, 51%);
    z-index: 2000;
}

.loader.codo-a-codo .letra-d::before {
    content: '';
    position: absolute;
    height: 140px;
    width: 25px;
    bottom: 0;
    right: 0;
    background: #222;
    z-index: 1000;
}

.loader.codo-a-codo .letra-a::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 25px;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
}

.loader.codo-a-codo .pelota1 {
    top: calc(50% - 140px);
    left: calc(50% - 140px);
}

.loader.codo-a-codo .pelota1b {
    top: 170px;
    left: -65px;
}

.loader.codo-a-codo .pelota1c {
    left: 110px;
}

.loader.codo-a-codo .pelota1d {
    top: 170px;
    left: 45px;
}

.loader.codo-a-codo .pelota2 {
    top: calc(50% - 140px);
    left: calc(50% + 83px);
}

.loader.codo-a-codo .pelota2b {
    top: 170px;
    left: -65px;
}

.loader.codo-a-codo .pelota2c {
    left: 120px;
    background: #fff;
}

/* FIN */

body.fin {
    overflow: auto;
}

header.fin, main.fin, footer.fin {
    display: block;
}

.loader.fin {
    display: none;
}

@media (max-width: 800px) {
    .loader {
        transform: scale(50%);
    }
    .loader .flash {
        height: 200vh;
        width: 200%;
        top: -50%;
        left: -50%;
    }
    .loader::before {
        height: 200vh;
        width: 200%;
        top: -50%;
        left: -50%;
    }
}