* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.flash {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: transparent;
    z-index: 1000;
}

.loader {
    background: #fff;
    position: relative;
    height: 100vh;
    width: 100%;
    transition: 0.75s;
}

.loader .semi-circulo {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    border-bottom: 100px solid #222;
    border-radius: 50%;
    animation: girar 2s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader .pelota {
    position: absolute;
    background: #222;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.loader .pelota1 {
    top: calc(50% - 50px);
    left: calc(50% - 100px);
    animation: rebotar1 2s linear infinite;
}

@keyframes rebotar1 {
    /* cada 10% recorre 50px */
    /* 10% equivale a 0.2s */
    /* la pelotita recorre 50px cada 0.2s */
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(-60px);
    }
    50% {
        transform: translateY(-250px);
    }
    100% {
        transform: translateY(0px);
    }
}

.loader .pelota2 {
    top: calc(50%);
    left: calc(50% + 50px);
    animation: rebotar2 2s linear infinite;
}

@keyframes rebotar2 {
    /* cada 10% recorre 50px */
    /* 10% equivale a 0.2s */
    /* la pelotita recorre 50px cada 0.2s */
    0% {
        transform: translateY(250px);
    }
    50% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(250px);
    }
}

/* SECCIÓN CARGA-TERMINADA */

.flash.carga-terminada {
    background: transparent;
    animation: flash 0.5s linear 1;
}

@keyframes flash {
    0% {
        background: #fff;
    }
    100% {
        background: transparent;
    }
}

.loader .semi-circulo.carga-terminada {
    border-bottom: 100px solid #222;
    /* transform: rotate(90deg); */
    animation: none;
    transition: 0.75s;
}

.loader .pelota.carga-terminada {
    animation: none;
    transition: 0.75s;
}

.loader .pelota1.carga-terminada {
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    background: #222;
}

.loader .pelota2.carga-terminada {
    top: calc(50% - 100px);
    left: calc(50% + 50px);
}

/* SECCIÓN CODO-A-CODO */

/* DECLARACIÓN */

.loader::before {
    content: '';
    position: absolute;
    top: calc(30% - 100px);
    left: calc(50% - 150px);
    height: 200px;
    width: 350px;
    background: transparent;
    transition: 0.75s;
}

.loader .semi-circulo::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: -100;
    transition: 0.75s;
}

.loader .pelota::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: -100;
    transition: 0.75s;
}

.loader .pelota::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 30%;
    left: 50%;
    background: #222;
    z-index: -100;
    transition: 0.75s;
}

/* TRANSICION */

.loader.codo-a-codo::before {
    content: '';
    position: absolute;
    height: 400px;
    width: 700px;
    top: calc(30% - 100px);
    left: calc(50% - 350px);
    transform: skew(-20deg);
    background: hsl(51, 97%, 51%);
}

.loader .semi-circulo.codo-a-codo {
    transform: rotate(90deg) scale(80%);
    left: calc(50% - 250px);
    top: calc(30% - 80px)
}

.loader .semi-circulo.codo-a-codo::after {
    content: '';
    position: absolute;
    width: 190px;
    height: 100px;
    transform: translate(220px);
    border-bottom: 100px solid #222;
    border-radius: 50%;
}

.loader .pelota.codo-a-codo {
    transform: scale(200%)
}

.loader .pelota1.codo-a-codo {
    top: calc(30% + 25px);
    left: calc(50% - 120px);
}

.loader .pelota1.codo-a-codo::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: #222;
    border-radius: 50%;
    top: 0;
    left: 50px;
}

.loader .pelota1.codo-a-codo::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 75px;
    background: #222;
    top: -25px;
    left: 85px;
}

.loader .pelota2.codo-a-codo {
    top: calc(30% + 25px);
    left: calc(50% + 80px);
}

.loader .pelota2.codo-a-codo::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    top: 0;
    left: 60px;
}

.loader .pelota2.codo-a-codo::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 50px;
    background: #fff;
    top: 0px;
    left: 95px;
}

.loader .pelota1.pelota.codo-a-codo .pelota1b {
    position: absolute;
    height: 50px;
    width: 50px;
    top: calc(30% + 70px);
    background: #222;
    border-radius: 50%;
}

.loader .pelota1.pelota.codo-a-codo .pelota1b::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    left: 50px;
    background: #222;
    border-radius: 50%;
}

.loader .pelota1.pelota.codo-a-codo .pelota1b::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 75px;
    top: -25px;
    left: 85px;
    background: #222;
}

.loader .pelota2.pelota.codo-a-codo .pelota2b {
    position: absolute;
    height: 50px;
    width: 50px;
    top: calc(30% + 70px);
    background: #222;
    border-radius: 50%;
}

body.fin {
    overflow:auto;
}

.loader.fin {
    display: none;
}