*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color: #333;
    display: flex;
    align-items: center;
    height: 100vh;
}
main{
    margin: auto;
    text-align: center;
    word-spacing: -1em;
}
.inline-element{
    word-spacing: normal;
    display: inline-block;
}
.card{
    height: 500px;
    width: 300px;
    display: flex;
    align-items: center;
    text-align: left;
}
.write-zone{
    position: relative;
    height: 410px;
    width: 200px;
    margin: auto;
    color: rgb(256 265 256 / 0.75);
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}
p{
    font-family: 'Lexend Deca', sans-serif;
}
a{
    display: block;
    position: absolute;
    bottom: 0%;
    text-decoration: none;
}
.button{
    width: 155px;
    height: 43px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(256 265 256 / 0.75);
}
.button p{
    display:inline-block;
    margin: auto;
}
.orange{
    background-color: hsl(31, 77%, 52%);
}
.cyan{
    background-color: hsl(184, 100%, 22%);
}
.dark-cyan{
    background-color: hsl(179, 100%, 13%);
}
.p-orange{
    color: hsl(31, 77%, 52%);
}
.p-cyan{
    color: hsl(184, 100%, 22%);
}
.p-dark-cyan{
    color: hsl(179, 100%, 13%);
}