/* GENERAL */
* {
	box-sizing: border-box;
}
body {
	font-family: Arial;
	margin: 0%;
}

/* HEADER */
.top {
	background: yellow;
	padding: 5px;
}
.top > p {
	text-align: center;
	font-weight: bold;
}
.mid {
	padding: 60px;
	text-align: center;
	background: #1abc9c;
	color: white;
}
nav {
	display: flex;
	background-color: #333;
}
a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}
a:hover {
	background-color: #eee;
	color: black;
}

/* MAIN */
.izquierda {
	flex: 30%;
	background-color: #ddd;
	padding: 20px;
}
.derecha {
	flex: 70%;
	background-color: #ddd;
	padding: 20px;
}
.imagen-falsa {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}
.altura-200 {
	height: 200px;
}
.altura-60 {
	height: 60px;
}
time {
	font-weight: bold;
}

/* FOOTER */
footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
}
