* {outline: red solid 1px;}
header, footer{background: #aaa}
main{background: #eee}
aside{background: #ccc}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

header, main, aside, footer {
  flex-grow: 1;
  flex-basis: 100%;
  padding: 10px;
}

/* Tamaño tablet */
@media all and (min-width: 600px) {
  aside {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
}

/* Tamaño PC */
@media all and (min-width: 800px) {
  main {
    flex: 2 0;
  }
  .izquierda {
    order: 1;
  }
  main {
    order: 2;
  }
  .derecha {
    order: 3;
  }
  footer {
    order: 4;
  }
}