#loby {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background: #222;
}

#loby h1{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-shadow: 0 0 40px #fff;
    font-size: 4em;
}

nav {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    height: 50px;
    margin: 20px 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.3em;
    color: #fff;
    border-radius: 10px;
    border: none;
    background: none;
}

button:hover {
    background: #fff;
    color: #222;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff;
}