*{
    box-sizing: border-box;
}
body{
    padding-top: 70px;
    margin: 0%;
    background-color: #333;
    color: #fff;
}
header{
    padding: 25px 0px;
    text-align: center;
    background-color: lightskyblue;
    color: mediumblue;
    position: fixed;
    top: 0%;
    width: 100%;
}
.link{
    background-color: #222;
    color: lightskyblue;
    position: fixed;
    width: 200px;
}